<div class="virtual-window">
    <span class="popup-code">{{code}}</span>
    <div class="popup-close">
        <button class="btn btn-warning"> X</button>
    </div>
    <!-- Is this bad practice? -->
    <br>
    <hr>
    <div>
        <span class="popup-holdings-title"> 
        Current Position:
        </span>
        <span class="popup-holdings-title">{{holdings}}</span>
    </div>
    <!-- <b> Index: <h4 data-bind="text: $parent"></h4></b> -->
    <div class="container popup-table">
        <div class="row">
            <div class="col-md-6">Bid</div>
            <div class="col-md-6">Ask</div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#security-modal" id="buy">
                    Buy
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#security-modal" id="sell">
                    Sell
                </button>
            </div>
        </div>
    </div>
</div>
