<div class="tabs-header">
    <span :class="{'active': tabTickers}" @click="tickers">Tickers & Pop-ups</span>
    <span :class="{'active': tabPortfolio}" @click="portfolio">Portfolio</span>
    <span :class="{'active': tabHistory}" @click="history">Transaction History</span>
</div>
<div class="tabs-content">
    <div v-if="tabTickers">
        <security-manager></security-manager>
        <popup-manager></popup-manager>
    </div>
    <div v-if="tabPortfolio">
        <p>Update password</p>
    </div>
    <div v-if="tabHistory">
        <p>Click below to delete your account</p>
    </div>
</div>
