body {
  font-family: Helvetica, sans-serif;
}
.virtual-window { 
    border:solid 3px #CCC; 
    border-color: black;
    width:170px; 
    height:260px;
    min-width:170px;
    min-height: 260px; 
    max-width: 226px;
    max-height: 345px;
    padding:5px; 
    margin:5px; 
    font:13px Arial; 
    cursor:move; 
    float: left;
    color: white;
    background-color: #292b2c;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
} 
.main-head {
	font-weight: bold;

}
.container {
	background-color: #292b2c;
	color: white;
}
.row,.col-md-3,.col-md-6,.col-md-9 {
	border-color: #fff;
	border-width: 100px;
	border: 1px solid;
}
hr {
    display: block;
    height: 10px;
    border: 2;
    border-top: 5px solid #ccc;
    border-color: white;
    padding: 0; 
}

.popup-code {
	color: white;
	font: 30px Arial; 
}



.popup-close {
	float: right;
}



.popup-holdings-title {
	font:  27px Arial;
}

.modal-body {
	text-align: center;
}

input:invalid {
	background-color: red;
}

#modal-question {
	font: 20px Arial;

}

.transaction-equation {
	font: 20px Arial;
	font-weight: bold;
}



body {
	background-color: #f1f1f1;
}
//Tab stuff:
/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the links inside the tab */
div.tab a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
div.tab a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#tablinks-header {
	font-weight: bold;
}

.popup-table {
	padding-top: 15px;
}
